html {
    font-family:'Garamond', serif;
    
    --black: #1b1b1e; 
    --white: #ccc2c2;
    --red: #992626;
    --error: #F00;
    --meta: #232cad;
    --debug: #FF0;
    --border: var(--white)
}

.white-on-black {
    --text: var(--white);
    --back: var(--black);
    --error: rgb(0, 81, 255);
    --meta: #992626;
    --debug: rgb(9, 255, 0);
}

body, #themes {
    background-color: #1b1b1e;
}

#output {
    background-color: var(--back);
    overflow-y: auto;
    height: 96vh;
    margin: 0 auto;
    padding: 8px;
}

#output p {
    margin: 0;
    color: var(--text);
    font-size: 23px;
}

#output .error {
    color: var(--error);
}

#output .meta {
    color: var(--meta);
}

#output .debug {
    color: var(--debug);
}

#input {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.container {
    margin: 0 auto;
    width: 85%;
    position: relative;
    border: 5px solid var(--border);
}

.flash>.editing::after {
 content: "|";
 font-weight: bolder;
}

.theme {
    width: 25px;
    height: 25px;
    border: 3px solid var(--border);
    border-radius: 3px;
    margin: 5px;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
    background-color: var(--back);
    color: var(--text);
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    width: 150px;
    height: 75px;
    padding: 10px;
    font-size: 23px;
    border: 5px solid var(--red);
}

#countbtn {
    background-color: #ccc2c2;
}

#recountbtn {
    background-color: #ccc2c2;
}